[Unit]
Description=Raspberry pi arduino lora receiver

[Service]
Type=simple
After=network-online.target
Wants=network-online.target
ExecStart=/usr/bin/python /home/pi/workspace/arduino-monitoring/PiServer/PiServer.py

[Install]
WantedBy=multi-user.target

